<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>修改</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="__CSS__/style.css" />
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-3">
					<div class="content">
						<caption class="text-center">
							<h3>通知公告</h3></caption>
						<form method="post">
							<table class="table table-bordered text-center">
								<tr>
									<th>通知</th>
									<td>
										<input type="text" name="notice_title" id="notice_title" value="{$notice.notice_title}" />
									</td>
								</tr>
								<tr>
									<th>通知网址</th>
									<td>
										<input type="text" name="notice_web" id="notice_web" value="{$notice.notice_web}" />
									</td>
								</tr>
								<tr>
									<th>通知时间</th>
									<td>
										<input type="text" name="notice_date" id="notice_date" value="{$notice.notice_date}" />
									</td>
								</tr>
								<tr>
									<td colspan="3">
										<input type="submit" value="修改" required />
										<input type="button" value="返回" onclick="window.history.back()" />
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>