body { margin:0 auto; font-size:14px; font-family:Verdana; line-height:1.5;}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul { list-style:none;}
img { border:0px;}
a { color:#05a; text-decoration:none;}
a:hover { color:#f00;}
table {
	border-collapse: collapse;
	margin: 0 auto;
}
th, td {
	border: solid 1px #ccc;
	padding: 5px;
}

