<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<link rel="stylesheet" href="../../../css/style.css"/>
		<!--<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">-->
		<style>
			td:nth-child(1) {
				text-align: right;
			}
		</style>
		<script src="../../../js/layDate-v5.0.9/laydate/laydate.js"></script>
		<title>添加消息</title>
	</head>
	<body>
		<div id="container">
			<?php require $_SERVER['DOCUMENT_ROOT'] . '/public/header.php' ?>
			<?php require $_SERVER['DOCUMENT_ROOT'] . '/public/nav.php' ?>	
		<div id="content">
			<form action="../controller/noticeController.php?flag=add" method="post">
			<table>
				<caption><h3>添加消息</h3></caption>
				<tbody>
					<tr>
						<td>通知信息</td>
						<td>
							<input type="text" name="txtNoticeName" id="txtNoticeName" />
						</td>
					</tr>
					<tr>
						<td>通知网址</td>
						<td>
							<input type="text" name="txtWeb" id="txtWeb" />
						</td>
					</tr>
					<tr>
						<td>通知日期</td>
						<td>
							<input type="text" name="txtTime" id="txtTime" />
						</td>
					</tr>
					
					<tr>
						<td colspan="2" style="text-align: center;">
							<input type="submit" value="添加" />
							<input type="button" value="返回"
							onClick="javascript:window.location.href='../controller/noticeController.php?flag=search'" />							
						</td>
					</tr>
				</tbody>
			</table>
		</form>		
		</div>	
		<?php require $_SERVER['DOCUMENT_ROOT'] . '/public/footer.php' ?>
	</div>
	<script>
		laydate.render({
          elem: '#txtTime'
        });
	</script>
	</body>
</html>
